.diffjs {
	width: 100%;
	border-collapse: collapse;
	font-family: monospace;
}

.diffjs td {
	padding-left: .5em;
}
.diffjs-line {
	width: 1px;
	text-align: right;
	opacity: .4;
}
.diffjs-content {
	padding-right: .5em;
}

tr.diffjs-deletion { background: rgba( 200, 100, 100, .4 ); }
tr.diffjs-addition { background: rgba( 220, 220, 150, .4 ); }

pre.diffjs-deletion,
pre.diffjs-addition { font-weight: bold; }
pre.diffjs-deletion { background: rgb( 200, 100, 100); }
pre.diffjs-addition { background: rgb( 220, 220, 150); }

.diffjs-content:before {
	content: "\A0";
	opacity: .35;
	margin-right: .5em;
}
.diffjs-addition .diffjs-content:before { content: "+"; }
.diffjs-deletion .diffjs-content:before { content: "-"; }

.diffjs pre {
	display: inline;
	margin: 0;
}
